/* TODO think about responsiveness */

* {
  padding: 0;
  margin: 0;
}

body {
  background: #082542;
  color: white;
  padding: 0 1rem;
}

body,
input,
textarea {
  font-family: "Roboto Slab", "Times New Roman", serif;
}

input::placeholder,
textarea::placeholder {
  color: #848e99;
}

.button {
  display: inline-block;
  color: white;
  font-size: 1rem;
  width: auto;
  margin-top: 1rem;
  padding: 1rem;
  background: #0f4780;
  border: 1px solid #6c9ccc;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background: #1872cc;
  border: 1px solid #848e99;
}

h2 {
  font-size: 2rem;
}

h2,
i {
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.section-1 {
  height: 100vh;
  position: relative;
}

.section-1 div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  height: 100vh;
  position: relative;
}

p,
form input,
form textarea,
form button {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
}

form textarea {
  resize: vertical;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (min-height: 568px) {
  form textarea {
    height: 10rem;
  }
}

@media (min-width: 568px) and (min-height: 320px) {
  form textarea {
    height: 4rem;
  }
}

@media (min-width: 375px) {
  body {
    padding: 0 3rem;
  }
  footer {
    padding-top: 2rem;
  }
}

@media (min-width: 414px) {
  body {
    padding: 0 4rem;
  }
}

@media (min-width: 736px) {
  body {
    padding: 0 6rem;
  }
  form textarea {
    height: 6rem;
  }
}

@media (min-width: 736px) and (min-height: 1024px) {
  footer {
    padding-top: 20vh;
  }
  form textarea {
    height: 10rem;
  }
}

@media (min-width: 812px) {
  body {
    padding: 0 6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  form textarea {
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 20rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  footer {
    padding-top: 20vh;
  }
  form textarea {
    height: 10rem;
  }
}

@media (min-width: 1560px) {
  body {
    padding: 0 25rem;
  }
}

@media (min-width: 1800px) {
  body {
    padding: 0 30rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1900px) {
  body {
    padding: 0 35rem;
  }
  h2 {
    font-size: 5.2rem;
  }
  .button,
  p,
  a,
  i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  input,
  textarea {
    font-size: 1.5rem;
  }
}
